<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data | FaceSync</title>
    style
      include profile.css
</head>
<body>
    //- <div class="container">
    //-     <div>Name : #{name}</div>
    //-     <div>Email : #{email}</div>
    //-     <div>Phone No : #{phone}</div>
    //-     <div>Company : #{company}</div>

    //- </div>


    <div class="main">
        <h2>IDENTITY</h2>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>#{name}</td>
                        </tr>
                        <tr>
                            <td>Class</td>
                            <td>:</td>
                            <td>#{class}</td>
                        </tr>
                        <tr>
                            <td>Attendance</td>
                            <td>:</td>
                            <td>#{attendance}</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>:</td>
                            <td>#{date}</td>
                        </tr>
                        //- <tr>
                        //-     <td>Job</td>
                        //-     <td>:</td>
                        //-     <td>Web Developer</td>
                        //- </tr>
                        //- <tr>
                        //-     <td>Skill</td>
                        //-     <td>:</td>
                        //-     <td>PHP, HTML, CSS, Java</td>
                        //- </tr>
                    </tbody>
                </table>
            </div>
        </div>

       
        //- <div class="card">
        //-     <div class="card-body">
        //-         <i class="fa fa-pen fa-xs edit"></i>
        //-         <div class="social-media">
        //-             <span class="fa-stack fa-sm">
        //-                 <i class="fas fa-circle fa-stack-2x"></i>
        //-                 <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
        //-             </span>
        //-             <span class="fa-stack fa-sm">
        //-                 <i class="fas fa-circle fa-stack-2x"></i>
        //-                 <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
        //-             </span>
        //-             <span class="fa-stack fa-sm">
        //-                 <i class="fas fa-circle fa-stack-2x"></i>
        //-                 <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
        //-             </span>
        //-             <span class="fa-stack fa-sm">
        //-                 <i class="fas fa-circle fa-stack-2x"></i>
        //-                 <i class="fab fa-invision fa-stack-1x fa-inverse"></i>
        //-             </span>
        //-             <span class="fa-stack fa-sm">
        //-                 <i class="fas fa-circle fa-stack-2x"></i>
        //-                 <i class="fab fa-github fa-stack-1x fa-inverse"></i>
        //-             </span>
        //-             <span class="fa-stack fa-sm">
        //-                 <i class="fas fa-circle fa-stack-2x"></i>
        //-                 <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
        //-             </span>
        //-             <span class="fa-stack fa-sm">
        //-                 <i class="fas fa-circle fa-stack-2x"></i>
        //-                 <i class="fab fa-snapchat fa-stack-1x fa-inverse"></i>
        //-             </span>
        //-         </div>
        //-     </div>
        //- </div>
    </div>
    <!-- End -->
</body>
</html>
</body>
</html>